@page "/"
@inherits LayoutComponentBase
<!--
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h3 class="display-4 fw-normal">Esraa's Super Market'</h3> <img src="https://media2.giphy.com/media/dxJ3d2rxJHJnwzizBS/200w.gif?cid=82a1493bri1758k8cezrtlv9ttcch4fhattgjwcgeujuwkwi&rid=200w.gif&ct=g" alt="Girl in a jacket">
    </div>
    -->
<!-- header section strats
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
                <img src="css/images/logo.png" alt="">
                <span>
                    Adward
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item active">

                                    <NavLink class="py-2 d-none d-md-inline-block" href="" Match="NavLinkMatch.All">
                                        <span class="oi oi-home" aria-hidden="true"></span> Home
                                    </NavLink>

                                </li>

                                <NavLink class="py-2 d-none d-md-inline-block" href="cashier_console">
                                    <span class="oi oi-plus" aria-hidden="true"></span> Sell
                                </NavLink>


                                <li class="nav-item ">

                                    <NavLink class="py-2 d-none d-md-inline-block" href="categories">
                                        <span class="oi oi-plus" aria-hidden="true"></span> Categories
                                    </NavLink>

                                </li>

                                <li>
                                    <NavLink class="py-2 d-none d-md-inline-block" href="products">
                                        <span class="oi oi-plus" aria-hidden="true"></span> Products
                                    </NavLink>

                                </li>

                                <li class="nav-item">

                                    <NavLink class="py-2 d-none d-md-inline-block" href="transactions">
                                        <span class="oi oi-plus" aria-hidden="true"></span> Reports
                                    </NavLink>

                                </li>
                            </Authorized>
                        </AuthorizeView>
                        <li class="nav-item"> <LoginDisplay> </LoginDisplay>  </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>-->
<div class="top_container">
    <section class="hero_section ">
        <div class="hero-container container">
            <div class="hero_detail-box">
                <h1>
                    Esraa's Supermarket
                </h1>

                <div style="visibility:@HideLabel" class="hero_btn-continer">
                    <a href="Identity/Account/Login" class="call_to-btn btn_white-border">
                        <span>
                            Login Here
                        </span>
                        <img src="css/images/right-arrow.png" alt="">
                    </a>
                </div>
            </div>
            <div class="hero_img-container">
                <div>
                    <img src="css/images/hero.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</div>



@code {
    private string username;


    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        username = authState.User.Identity.Name;
        if (!string.IsNullOrWhiteSpace(username))
        {
            HideLabel = "hidden";
        }
        else { HideLabel = "visable"; }

    }


    private string HideLabel = "hidden";
}
